/* Based on https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

@font-face {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2") format("woff2"); }

@font-face {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.woff2") format("woff2"); }

@font-face {
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2") format("woff2"); }

@font-face {
  font-family: MaterialIcons;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype"); }

:root {
  --bfs:  0.5rem;
  --xxs:  calc(var(--bfs) * 1.00);
  --xs:   calc(var(--bfs) * 1.25);
  --s:    calc(var(--bfs) * 1.60);
  --m:    calc(var(--bfs) * 2.00);
  --l:    calc(var(--bfs) * 2.50);
  --xl:   calc(var(--bfs) * 3.15);
  --xxl:   calc(var(--bfs) * 4.00);
  --xxxl:   calc(var(--bfs) * 5.00);
  --xxxxl:   calc(var(--bfs) * 6.30);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --dark: #888;
  --darker: #111;
  --darkest: #000;
  --darken: rgba(0,0,0,0.2);
  --color-text: var(--darker);
  --color-headline: var(--dark);
  --color-accent: rgb(254,196,87);
  --ff-normal: IBMPlexSans, sans-serif;
  --ff-icons: MaterialIcons;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;
  --tr-fast: 0.3s;
  --shadow-l: 0 0 10px rgba(0,0,0,0.5);
  --border-width-s: 1px;
  --border-width-m: 3px; }

.icon {
  height: auto;
  width: auto;
  font-family: var(--ff-icons);
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  margin-right: var(--xs); }
  .icon--s {
    font-size: var(--s);
    line-height: var(--s); }
  .icon--m {
    font-size: var(--m);
    line-height: var(--m); }
  .icon--l {
    font-size: var(--l);
    line-height: var(--l); }
  .icon--xl {
    font-size: var(--xl);
    line-height: var(--xl); }
  .icon.md-dark {
    color: var(--lightest); }
  .icon.md-light {
    color: var(--darkest); }
  .icon--inline {
    margin-right: 0.4em;
    font-size: var(--m); }
  .icon:before {
    content: attr(data-icon); }

* {
  box-sizing: border-box; }

body {
  padding: var(--xl);
  font-family: var(--ff-normal);
  color: var(--text-color);
  line-height: var(--lh-normal);
  background-color: #b69811; }

h1, h2, h3 {
  margin-bottom: var(--m); }

/*# sourceMappingURL=main.css.map */