/* Content Wrap
###########################################################################  */

.content-wrap{
  width: 100vw;
  height: 100vh;
  background-color: var(--light);

  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.content-wrap:nth-child(even) {
  background-color: var(--lighter);
}

/* Card
###########################################################################  */

.card{
  width: clamp(300px, 50%, 800px);
  background-color: var(--lightest);
  border-radius: var(--radius-m);
  overflow: hidden;
  box-shadow: var(--n-shadow-l);
}

.card figcaption{
  padding: var(--l) var(--m) var(--xl) var(--m);
}

.overview{
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  /*repeat(3, 1fr);*/
  grid-gap: 2rem;
}