$card-min-size:300px;
$card-max-size:800px;
$lightest: #fff;

.overview{
    padding-left: var(--m);
    display:grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--m) * 15), 1fr));
.card {
    position: relative;
    overflow: auto;
    background-color: $lightest ;
    border-radius: var(--radius-l);
    &__additional-infos{
        display: none;
    }
    img{
        object-fit: cover;
        max-height: 100px;
        aspect-ratio: 1/1;
    }
    &__title{
        color: white;
        position: absolute;
        top:0;
        padding-top: 1rem;
        font-size: clamp(20px, 10%, 10px);
        padding-left: 0.5rem;
        p{
           
            text-shadow: 1px 1px #000000;
        }
        h2{
          
            text-shadow: 1px 1px #000000;
        }
    }
}
}

